.container1{
    background: rgba(16, 16, 16, .98);
    padding: 1.5rem 2rem;

    /* height: 60vh;
    width: 50vw; */

}


.col1 {
        color: rgba(255,255,255, .8);
        text-shadow: 0 1px 4px rgb(0 0 0 / 50%);
        line-height: 1.8;
    }

.row1 {
    text-align: left;
    text-transform: uppercase;
    margin-left: -10px;
    margin-right: -10px;
    
}

.col2 {
    background: rgba(255, 255, 255, .15);
    text-align: center;

    width: 20%;
}

.col3{
    text-align: center;
}

